/* Animación para el menú */
@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .menu {
    animation: slideInFromBottom 0.5s ease-out;
  }
  
  .hidden {
    display: none;
  }
  