<header class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex flex-wrap items-center justify-between">
      <div class="flex items-center">
        <img src="../../assets/logo-paeria.svg" alt="Logo" class="h-16 w-auto">
        <div class="ml-4">
          <h1 class="text-xl font-bold">Seu Electrònica</h1>
          <h3 class="text-red-600 text-sm font-medium">AJUNTAMENT DE LLEIDA</h3>
        </div>
      </div>
      <div class="flex gap-5">
        <button 
        #hamburgerMenu
        class="p-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
      >
        ☰ Menu
      </button>

      <button 
        #carpeta
        class="max-sm:hidden p-2 bg-transparent text-black border border-black rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
            LA MEVA CARPETA
        </button>
      </div>

    
      <nav 
        #menu
        class="w-full lg:w-auto lg:flex mt-4 lg:mt-0 hidden"
      >
        <ul class="flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-4">
          <li>
            <a 
              href="#link1"
              class="block px-4 py-2 text-gray-700 hover:bg-blue-100 hover:text-blue-700 rounded-md"
            >
              Link 1
            </a>
          </li>
          <li>
            <a 
              href="#link2"
              class="block px-4 py-2 text-gray-700 hover:bg-blue-100 hover:text-blue-700 rounded-md"
            >
              Link 2
            </a>
          </li>
          <li>
            <a 
              href="#link3"
              class="block px-4 py-2 text-gray-700 hover:bg-blue-100 hover:text-blue-700 rounded-md"
            >
              Link 3
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  