<div>
    <p>Buscar por parablas</p>
    <div class="bg-slate-400 flex">
        <div>
            <svg class="size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M10 2C5.58 2 2 5.58 2 10s3.58 8 8 8c1.57 0 3.04-.46 4.24-1.25l4.67 4.68c.39.39 1.02.39 1.41 0s.39-1.02 0-1.41l-4.68-4.67C18.54 13.04 19 11.57 19 10c0-4.42-3.58-8-8-8zm0 14c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"/>
            </svg>
        </div>
        <div>
            <p>Licencias de obra, concursos, calendario fiscal...</p>
        </div>
    </div>

</div>
